@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes hide-sidebar {
    0% {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    50% {
        transform: translateX(-50%);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes show-sidebar {
    0% {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }

    50% {
        transform: translateX(-50%);
        opacity: 0.5;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
}



@keyframes padding-anim-h {
    0% {
        padding-left: 8px;
    }

    100% {
        padding-left: 280px;
    }
}

@keyframes padding-anim-s {
    0% {
        padding-left: 280px;
    }

    100% {
        padding-left: 16px;
    }
}

.sidebar-show {
    animation: show-sidebar 0.3s forwards ease-in-out;
}

.sidebar-hide {
    animation: hide-sidebar 0.3s forwards ease-in-out;
}

.padding-show {
    animation: padding-anim-h 0.3s forwards ease-in-out;
}

.padding-hide {
    animation: padding-anim-s 0.3s forwards ease-in-out;
}